body {
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}


p {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.div {
    border-bottom: 4px solid #252422;
}

.pil {
    height: 45px;
}

.center {
    text-align: center;
}

.color {
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}


.img {
    width: 45px;
    cursor: pointer;
}



.lightMode {
    background: #9a8c98;
}

.darkMode {
    background-color: #0a0908;
}

.bella {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease;
}

.bella:hover {
    border-radius: 50%;
    transition: 1s ease;
}

.math {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease;
}

.math:hover {
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.emojis {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease
}

.emojis:hover {
    border-radius: 50%;
    transition: 1s ease;
}

.counter {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease
}

.counter:hover {
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.jujutsu {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease
}

.jujutsu:hover {
    border-radius: 50%;
    transition: 1s ease;
}

.temtem {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease
}

.temtem:hover {
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.todoList {
    height: 80px;
    border: 5px solid #252422;
    transition: 1s ease
}

.todoList:hover {
    border-radius: 50%;
    transition: 1s ease;
}