body {
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif
}

p {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif
}

.center {
    text-align: center;
}

.color {
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d8e2dc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #d8e2dc;}

.button:active {
    background-color: #d8e2dc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.lightMode {
    background: #f08080;
    color: black;
}

.darkMode {
    background-color: #9d8189;
    color: #fdfdfd;
}